<form class="list" [formGroup]="form" (ngSubmit)="onSubmit()"> 

    <div>
        <label>Brugernavn</label>
        <br/>
        <input formControlName="Brugernavn" class="form-control">
        
    </div>

    <div>
        <label>Password</label>
        <br/>
        <input type="password" formControlName="Password" class="form-control">
        
    </div>

    <div>
        <label>Alder</label>
        <br/>
        <input formControlName="Alder" class="form-control" type="number">
        
    </div>

    <div>
        <label>Email</label>
        <br/>
        <input formControlName="Email" class="form-control">
        
    </div>

    <br/>
    <button class="btn btn-primary" type="submit">Opret bruger</button>
</form>
