<form class="list" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
        <label>Title</label>
        <br/>
        <input formControlName="titel" class="form-control">
        
    </div>

    <div>
        <label>Beskrivelse</label>
        <br/>
        <textarea formControlName="beskrivelse" class="form-control"></textarea>
        
    </div>

    <div>
        <label>Ingredienser</label>
        <br/>
        <textarea formControlName="ingredienser" class="form-control"></textarea>
        
    </div>

    <div>
        <label>Fremgangsmåde</label>
        <br/>
        <textarea formControlName="fremgangsmoede" class="form-control"></textarea>
        
    </div>

    <button class="btn btn-primary" type="submit">Opret Opskrift</button>
</form>

