<form class="list" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div >
        <label >Title</label>
        <br/>
        <input formControlName="titel" [(ngModel)]="opskrift.titel" >
        
    </div>

    <div >
        <label >Beskrivelse</label>
        <br/>
        <textarea formControlName="beskrivelse" [(ngModel)]="opskrift.beskrivelse" ></textarea>
       
    </div>

    <div >
        <label >Ingredienser</label>
        <br/>
        <textarea formControlName="ingredienser" [(ngModel)]="opskrift.ingredienser" ></textarea>
        
    </div>

    <div >
        <label>Fremgangsmåde</label>
        <br/>
        <textarea formControlName="fremgangsmoede" [(ngModel)]="opskrift.fremgangsmoede" ></textarea>
        
    </div>
     

    <button  type="submit">Rediger opskrift</button>
    <button type="button" (click)="deleteOpskriften(opskrift.id)" class="btn btn-danger">Delete</button>
</form>
