<form class="list"  *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()"> 

    <div class="form-group">
        <label for="Email">Email</label>
        <br/>
        <input [(ngModel)]="form.email" name="brugernavn" #brugernavn="ngModel" class="form-control">
        
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <br/>
        <input type="password" [(ngModel)]="form.password" name="password"  #password="ngModel" class="form-control">
        
    </div>

    <br/>
    <button class="btn btn-primary" type="submit">Logind</button>
    <div > 

    </div>
</form>

<div *ngIf="isLoggedIn">
    logget ind som {{roles}}
</div>
