<!-- <div ngIf="currentOpskrift">
    <form>
        <div>
            <input id="Title" [(ngModel)]="currentOpskrift.Title" name="Title">
        </div>

        <div>
            <textarea id="Beskrivelse" [(ngModel)]="currentOpskrift.Beskrivelse" name="Beskrivelse"></textarea>
        </div>

        <div>
            <input id="Ingredienser" [(ngModel)]="currentOpskrift.Ingredienser" name="Ingredienser">
        </div>
    </form>
</div> -->

<div>
    <div>
        <p>{{opskrift?.titel}}</p>
    </div>

    <div>
        <p>{{opskrift?.beskrivelse}}</p>
    </div>
    
    <div>
        <p>{{opskrift?.ingredienser}}</p>
    </div>
    <div>
        <p></p>
    </div>
</div>

