<body>
    <nav id="navbar">
            
        <div id="navContent">  
            <button class="navContent2" routerLink="">Forside</button>
            <button class="navContent2" routerLink="/mineOpskrifter">Mine Opskrifter</button>
            
            <button class="navContent2" routerLink="/mineOpskrifter">Mine Opskrifter</button>
            <button class="navContent2" routerLink="/opretBruger">Opret Bruger</button>
            <button class="navContent2" routerLink="/login">Logind</button>
            <input class="navContent2" type="text" placeholder="Search..">
        </div>
    </nav>
</body>